* {
  word-spacing: 3px;

}

body {
  font-family: 'Asap Condensed', sans-serif;
  color: #000;
  position: relative;
  background-color: #e0ebeb;
 }
 .container-fluid {
  padding: 0px;
 }



a {
  color:#fff;
    }

.navbar-brand {
  font-size: 1.5em;

  }

.name-navbar {
  font-size: 1.2em;
  letter-spacing: 0.75em;
  color: #fff;

  }




ul {

font-size: 1.5em;
color: #000;
}

.row {

  padding-top: 2%;
  padding-bottom: 5%;
  box-sizing: inherit;
  margin: auto;


}


.prt-ul {

  list-style-type: none;
  font-size: 1em;
}

.portfolio-div {
  background-color:  #a3c2c2;
  padding-bottom: 1%;
  padding-top: 4%;
}

.card-body {
  padding: 0em;



}

.btn-div {
  padding-top: 3%;

}

.prt-5 {
  padding-bottom: 5%;


}

.prt-6 {
  padding-top: 3%;
  padding-bottom: 5%;

}


.prt-heading {
  background-image: url("https://i.imgur.com/7IFDLtz.jpg");
  color: #fff;
  padding-top: 6%;
  padding-bottom: 6%;
  min-height: 300px;


}


.prt-heading2 {
  background-image: url("https://i.imgur.com/7IFDLtz.jpg");
  color: #fff;
  padding-top: 6%;
  padding-bottom: 8%;
  letter-spacing: 1em;
  min-height: 300px;


}

.portfolio-container {

  postion: center;

}


  .blog-shot {

    padding-bottom: 5%;
  }
/* ABOUT SECTION */

.about-div {
background-color: #a3c2c2;

}

.about-paragraph {

  padding-top: 3%;
  padding-bottom: 3%;

}

.about-li {
  font-size: 1em;

}

.border-page {
  height: 3px;
  width: 600px;
  margin: auto;
  border-bottom-style: solid;
  border-style: solid 2px;


}



.three-col {
  padding-bottom: 5%;
  border-bottom-style: solid;
}

#h-1 {
  margin-top: 5rem;
  margin-bottom: 4.5rem;

}

.borderz {
  border-bottom-style: solid;

}
/* CSS FOR SKILL CHART */





#skill {
	list-style: none;

  font-size: 1.3em;
	width: 296px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;


}

#skill li {
	margin-bottom:50px;
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
	height:20px;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li h3 {
	position:relative;
	top:-35px;
}

.bar {
	height:18px;
	margin:1px 2px;
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}



.html {
	width:90%;
	-moz-animation:html 2s ease-out;
	-webkit-animation:html 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5c8a8a), to(#527a7a));
	background-image: -webkit-linear-gradient(top, #5c8a8a, #527a7a);
	background-image: -moz-linear-gradient(top, #5c8a8a, #527a7a);
	background-image: -ms-linear-gradient(top, #5c8a8a, #527a7a);
	background-image: -o-linear-gradient(top, #5c8a8a, #527a7a);
	background-image: linear-gradient(top, #5c8a8a, #527a7a);
}

.css {
	width:85%;
	-moz-animation:css 2s ease-out;
	-webkit-animation:css 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#476b6b), to(#3d5c5c));
	background-image: -webkit-linear-gradient(top, #476b6b, #3d5c5c);
	background-image: -moz-linear-gradient(top, #476b6b, #3d5c5c);
	background-image: -ms-linear-gradient(top, #476b6b, #3d5c5c);
	background-image: -o-linear-gradient(top, #476b6b, #3d5c5c);
	background-image: linear-gradient(top, #476b6b, #3d5c5c);
}

.javascript {
	width:60%;
	-moz-animation:javascript 2s ease-out;
	-webkit-animation:javascript 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#293d3d), to(#1f2e2e));
	background-image: -webkit-linear-gradient(top, #293d3d, #1f2e2e);
	background-image: -moz-linear-gradient(top, #293d3d, #1f2e2e);
	background-image: -ms-linear-gradient(top, #293d3d, #1f2e2e);
	background-image: -o-linear-gradient(top, #293d3d, #1f2e2e);
	background-image: linear-gradient(top, #293d3d, #1f2e2e)
}

.git {
	width:60%;
	-moz-animation:git 2s ease-out;
	-webkit-animation:git 2s ease-out;
	background-color: #f674a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#141f1f), to(#0a0f0f));
	background-image: -webkit-linear-gradient(top, #141f1f, #0a0f0f);
	background-image: -moz-linear-gradient(top, #141f1f, #0a0f0f);
	background-image: -ms-linear-gradient(top, #141f1f, #0a0f0f);
	background-image: -o-linear-gradient(top, #141f1f, #0a0f0f);
	background-image: linear-gradient(top, #141f1f, #0a0f0f);
}


@-moz-keyframes html        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes css      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes javascript   { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes git {0%  { width:0px;} 100%{ width:100%;}  }


@-webkit-keyframes html        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes css      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes javascript   { 0%  { width:0px;} 100%{ width:80%;}
@-webkit-keyframes git       { 0%  { width:0px;} 100%{ width:100%;}  }

.pding-btm {
  padding-bottom: 5rem;


}
/* END OF SKILL CHART */



 .r-1 {
  width: 500px;
  margin-top: 3%;

}

.h-1 {
  padding-bottom: 4%;
  padding-top: 3%;

}




#heading-12 {
  padding-top: 5rem;


}

/* end of ABOUT SECTION */



/* CONTACT SECTION */
.contact-div {

padding-bottom: 2%;
}
.contact-heading {

padding-top: 5%;
margin-bottom: 8%;
}
span.glyphicon glyphicon-envelope:before {
  font-family: 'Glyphicons Halflings';
  content: "\f015";
}


@media all and (min-width: 750px) {
    .display-none {
        display: none;
    }
}

@media all and (max-width: 1026px) {

.paragraph3 {
  margin-top: 8%;

}

}
